name: Create GitHub Release

on:
  # Run on demand
  workflow_dispatch:

  # Run on push to main when .bumpversion.cfg version is updated
  push:
    branches:
      - master
    paths:
      - .bumpversion.cfg

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@2541b1294d2704b0964813337f33b291d3f8596b
        with:
          fetch-depth: 0
      - run: git fetch --tags --force origin # WA: https://github.com/actions/checkout/issues/882

      - name: Test release condition
        id: release
        run: |
          set -eu -o pipefail
          RELEASE=false
          PRIOR_VERSION=$(git describe --abbrev=0 --tags)
          RELEASE_VERSION=$(grep current_version .bumpversion.cfg | sed 's/^.*= //' )
          if [[ "$PRIOR_VERSION" != "$RELEASE_VERSION" ]]; then RELEASE=true; fi
          echo "condition=${RELEASE}" >> "$GITHUB_OUTPUT"
          echo "version=${RELEASE_VERSION}" >> "$GITHUB_OUTPUT"

      - name: Run lint and static analyis checks
        if: steps.release.outputs.condition == 'true'
        uses: ./.github/workflows/lint.yml

      - name: Create release
        if: steps.release.outputs.condition == 'true'
        uses: softprops/action-gh-release@1e07f4398721186383de40550babbdf2b84acfc5
        with:
          name: ${{ steps.release.outputs.version }}
          tag_name:  ${{ steps.release.outputs.version }}
          generate_release_notes: true
          target_commitish: ${{ env.GITHUB_REF }}
          token: ${{ secrets.GH_RELEASES_TOKEN }}
